{% extends 'admin/base.html.twig' %}

{% block title %}Edit| NajmiAccademy.com{% endblock %}


{% block body %}
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}
	<div class="container">
		   <div class="container">
		   	   <table class="table">
		   	   	 <thead>
		   	   	 	<th>Image</th>
		   	   	 	<th>Nom </th>
		   	   	 	<th> Email </th>
		   	   	 	<th> C.I.N</th>
		   	   	 </thead>
		   	   	 <tbody>
		   	   	 	<td><img src=" {{ user.picture }} "></td>
		   	   	 	<td>  {{ user.name }} </td>
		   	   	 	<td> {{ user.email }} </td>
		   	   	 	<td> 
                        {% if info.cin is defined %}
                              {{ info.cin }} 
                        {% else %}
                        	NOT DEFINED
                        {% endif %}
                    </td>
		   	   	 </tbody>
		   	   </table>
           </div>
           <div class="container">

               {{ form(profileForm) }}
   
           </div>
    </div>
{% endblock %}
