
{% extends 'prof/base.html.twig' %}

{% block title %}Note| NajmiAccademy.com{% endblock %}

{% block body %}
 {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}

<div class="container">
	<div class="card text-center bg-info" >
  <div class="card-body">
    <h5 class="card-title">La Note de L'étudiant </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ std.user.name }}</h6>
    <p class="card-text">
    	<ul class="list-group">
    		<li class="list-group-tem" > C.I.N : {{ std.stdperinfo.cin }}</li>
    		<li class="list-group-tem"> Filère : {{ std.stdchoice.bactype }}</li>
    	</ul>

    </p>
  </div>
</div>
   
       
       {{ form(noteForm) }}
      
      

</div>
{% endblock %}