
{% extends 'base.html.twig' %}

{% block title %}Profile| NajmiAccademy.com{% endblock %}

{% block body %}
 {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}

<div class="anounces-courses">

  {% if myclasse %}
{% cache "user-courses" %}
    <section class="courses" >
      <h3 class="text-primary"> <i class="fas fa-book"></i> Les cours </h3>
        {% for prof in myclasse.profs %}
      {% for course in prof.courses %}
       <div class="card card-course">
        <h5> {{ course.title }} </h5>
        <p class="text-muted text-italic" style="margin:5px;">
          <i class="fas fa-user"></i> {{ prof.name }} 
          <small>
            <i class="fas fa-clock"></i> à
            {{ course.createdAt | date}}
          </small>
        </p>
        <p class="text-center">
          <img src="{{ course.picture }}"  />
        </p>
        <div class="text-center" >
          {{ course.content}}
        </div>
     </div>
      {% endfor %}
      {% endfor %}
    </section>
{% endcache %}
    <section class="anounces">
      <h3 class="text-primary" > <i class="fas fa-bullhorn"></i> Les anonnces :  </h3>
      {% for prof in myclasse.profs %}

        {% for anounce in prof.anounces %}
        <div class="card card-anounce">
      <h4> {{ anounce.title }} </h4>
      <p class="text-muted text-italic" style="margin:5px;" >
          <i class="fas fa-user"></i> {{ prof.name }} 
          <small>
            <i class="fas fa-clock"></i> à
            {{ anounce.createdAt | date}}
          </small>
      </p>    
      <div class="text-center">
        {{ anounce.content}}
      </div>
 </div>
      {% endfor %}
     
  {% endfor %} 
    </section>
       

  {% else %}
  
  <h2 class="text-center">
    le  group administrtif n'a pas encore détrminé votre classe.  
  </h2> 
 
  {% endif %}

  
</div>
{% endblock %}